/* Top Menu */
.skin-purple-light .main-header,
.skin-purple-light .main-header {
  background-color: #555299;
}
.skin-purple-light a, .skin-purple a:hover {
  color: #555299;
}
.skin-purple-light .btn-primary {
  background-color: #605ca8;
  color: #ffffff;
}
.skin-purple-light .label-primary {
  background-color: #605ca8 !important;
  color: #ffffff;
}
