.info-box-url {
  color: $text-color;
}
.info-box-text {
  font-size: 1.1em;
}
.table > tfoot > tr > td {
  border-top: 3px solid #ddd;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: $text-color;
}
.card-avatar {
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
}
.cell-avatar {
  width: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.datepicker {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%
}
