
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Daterangepicker
@import "~daterangepicker/daterangepicker.css";

// Custom
@import "custom";
